:root {
    --primary-color: #003699;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --lose-color: #dc3545;
    --win-color: #28a745;
    --modal-duration: 1s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0, 0.5);
}

.modal-content {
    text-align: center;
    background: #fff;
    margin: 10% auto;
    width: 350px;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 5px 8px 0 rgba(0,0,0, 0.2), rgba(0,0,0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-content h1 {
    margin-bottom: 1rem;
}

.modal-content p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}